.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: black;
  text-align: center;
  font-family: HumanistRegular, sans-serif;
}
.subtitle {
  font-size: .9375rem;
  font-weight: 400;
  color: black;
  text-align: center;
  font-family: HumanistRegular, sans-serif;
}
button:disabled {
  background-color: #adadad !important;
}
