<form [formGroup]="form" class="w-100 h-100">
  <div style="width: 100vw; height: 100vh; background-color: white" class="p-4 d-flex justify-content-center align-items-center">
    <div class="card-theme w-75 h-75 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p class="title mb-5">АВТОРИЗАЦИЯ</p>
            <p class="subtitle mb-5">Пожалуйста авторизуйтесь для получения доступа!</p>
            <input [readonly]="loading" class="w-100 p-2" placeholder="E-Mail" formControlName="email" matInput>
            <div class="my-3"></div>
            <input [readonly]="loading" class="w-100 p-2" placeholder="Пароль" type="password" formControlName="code" matInput>
            <div class="my-3"></div>
            <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
            <button *ngIf="!loading" style="color: white !important;" class="w-100" mat-raised-button color="primary" (click)="submitLogin()" [disabled]="!form.valid">{{form.valid ? 'Войти' : 'Введите данные для авторизации'}}</button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</form>
