@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
    moz: "::-moz",
    webkit: "::-webkit",
    ie: ":-ms"
  );
  @each $prop, $value in $prefixes {
    @if $prop != "moz" {
      $selector: #{$value}-input-placeholder;
    } @else {
      $selector: #{$value}-placeholder;
    }
    @if & {
      &#{$selector} {
        @content;
      }
    } @else {
      #{$selector} {
        @content;
      }
    }
  }
  &::placeholder {
    @content;
  }
}
.time-labels {
  p {
    font-size: 48px;
    color: white;
  }
  p:nth-child(2) {
    font-size: 30px !important;
  }
}
.header {
  * {
    color: white;
    font-size: 20px;
    line-height: 28px;
  }
}
.title {
  font-size: 70px;
  font-family: HumanistRegular, sans-serif;
  color: white;
}
.container-cat {
  background-repeat: no-repeat;
  //background-image: url(https://psv4.userapi.com/c537232/u177808522/docs/d50/2f4961decb0d/Frame_1.png?extra=34jSbSCs1rUmxgMjrGdGcztXC83BcKbvtZQj665wpA3ffMIEqBze6Xxy_7Bg1Th2kixlscdOd4rdmXhopj3Dhsv5OwPvoKiPL4Hf0D50z1-vwROS1mqHAVuaECs7FyCV401IrzX-tIotFEFMQxOK82dyEQ);
  background-size: contain;
  background-position: 0px 195px;
  background-color: #6F6F6F;
  border-radius: 30px;
  height: 100%;
  div {
    padding: 26px;
  }
  span {
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
  }
}
p, span {
  font-family: HumanistRegular, sans-serif;
  line-height: 1em !important;
}
.cats-container {
  padding-top: 235px;
}
.container-white {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.active-block {
  filter: drop-shadow(0px 0px 18px rgba(255, 255, 255, 0.44));
  -webkit-transition: .25s linear 0s;
  -moz-transition: .25s linear 0s;
  -o-transition: .25s linear 0s;
  transition: .25s linear 0s
}
.error-label {
  text-align: center;
  line-height: 1.5em !important;
  font-family: HumanistRegular, sans-serif;
  color: white;
  font-size: 36px;
}
.cat-item {
  min-height: 300px;
  background-color: white;
  padding: 40px 45px;
  p:nth-child(2) {
    font-size: 36px;
    text-align: center;
  }
  p:nth-child(3) {
    color: #787878;
    font-size: 24px;
    text-align: center;
  }
}
.appbar {
  position: fixed;
  z-index: 999;
  width: 95vw;
  background-color: black;
}
.help-icon {
  p {
    text-align: center;
    color: white;
    font-size: 18px;
  }
}
.pleasure-text {
  font-size: 48px;
  color: white;
  text-align: center;
}
img {
  object-fit: contain;
}
.search-panel {
  @include inputPlaceholder() {
    font-family: HumanistRegular, sans-serif !important;
    color: white;
  }
  font-family: HumanistRegular, sans-serif !important;
  border: 3px solid #c4c4c4;
  background-color: black;
  font-size: 24px;
  color: white;
  padding: 6px;
}
