<app-header></app-header>
<div class="container-fluid view" style="height: 50vh">
  <div class="row d-flex flex-row">
    <div class="half">
      <div class="d-flex flex-row mt-4">
        <span class="th half-40">
            ТАЛОН
          </span>
        <div class="half-20"></div>
        <span class="th half-40">
            ОКНО
          </span>
      </div>
    </div>
    <div class="half" *ngIf="queueSrc.length > 0">
      <div class="d-flex flex-row mt-4">
        <span class="th half-40">
            ТАЛОН
          </span>
        <div class="half-20"></div>
        <span class="th half-40">
            ОКНО
          </span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row h-100">
    <div class="half">
      <div *ngFor="let item of queue[selectedPage]; let i = index"
           (click)="select(i)"
           [class.active]="selectedItem === i"
           style="height: 20%"
           class="d-flex py-3 window-list justify-content-between flex-row">
        <p class="title half-40">{{item.name}}</p>
        <span class="arrow half-20">></span>
        <p class="window half-40">{{item?.session?.windows?.letter || '-'}}</p>
      </div>
    </div>
    <div class="half" *ngIf="isActiveAddedTicket">
      <div
        class="w-100 py-5 h-100 white-block d-flex flex-column justify-content-center align-items-center">
        <span>{{addedTicket.name}}</span>
        <span *ngIf="!!addedTicket?.session">ОКНО {{addedTicket?.session?.windows?.letter || ''}}</span>
        <span *ngIf="!addedTicket?.session">ОЖИДАЙТЕ</span>
      </div>
    </div>
    <div class="half list-active d-flex flex-column" *ngIf="queueSrc.length > 0 && !isActiveAddedTicket">
      <div *ngFor="let item of queueSrc[selectedActivePage]; let i = index"
           (click)="select(i)"
           [class.active]="selectedItem === i"
           style="height: 20%"
           class="d-flex py-3 window-list justify-content-between flex-row">
        <p class="title half-40">{{item.name}}</p>
        <span class="arrow half-20">></span>
        <p class="window half-40">{{item?.session?.windows?.letter || '-'}}</p>
      </div>
    </div>
  </div>
</div>
