$size: 100;

%float-styles {
  float: left;
}
p, span {
  font-family: HumanistRegular, sans-serif;
  line-height: 1em !important;
}
@mixin half-list {
  @for $i from 1 through $size {
    .half-#{$i} {
      width: percentage($i/100);
    }
  }
}

@include half-list;
p {
  color: white;
}
.half {
  width: 50%;
}
.half-center {
  text-align: -webkit-center;
  width: 50%;
}
.view {
  .th {
    font-size: 50px;
    text-align: center;
    color: #c4c4c4;
    font-family: HumanistRegular, sans-serif;
  }
}
.window-list:hover {
  cursor: pointer;
}
.window-list {
  p {
    margin: 0;
  }
  .title, .window {
    text-align: center;
    font-size: 48px;
    color: white;
  }
  .arrow {
    text-align: center;
    font-size: 48px;
    color: white;
  }
}
.list-active {
  background-color: white;
  border-radius: 5px;
  p, span {
    color: black !important;
  }
}
.hided {
  background-color: black !important;
}
.active {
  //background-color: white;
  p, span {
    //color: black !important;
  }
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.white-block {
  background-color: white;
  span:nth-child(1) {
    font-size: 200px;
    color: black;
  }
  span:nth-child(2) {
    font-size: 68px;
    color: black;
  }
}
.r-top-left {
  border-top-left-radius: 5px;
}
.r-top-right {
  border-top-right-radius: 5px;
}
.r-bt-left {
  border-bottom-left-radius: 5px;
}
.r-bt-right {
  border-bottom-right-radius: 5px;
}
