.label {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: HumanistRegular, sans-serif;
}
button {
  border-radius: 0;
  color: white;
  background-color: black;
  padding: 5px 20px;
  ::ng-deep span {
    font-family: HumanistRegular, sans-serif;
    font-size: 24px;
  }
}
p, span {
  font-family: HumanistRegular, sans-serif;
  line-height: 1em !important;
}
.ticket-card {
  p:nth-child(1) {
    font-size: 18px !important;
  }
  p:nth-child(2) {
    font-size: 96px !important;
  }
  p:nth-child(3) {
    font-size: 24px !important;
  }
}
