<div class="container-fluid d-flex flex-column justify-content-center align-items-center py-3" style="height: 100vh" *ngIf="!windows.length">
  <p class="label mb-5">Данные с окнами пустые</p>
  <button mat-raised-button routerLink="/room/list">Назад</button>
</div>
<div class="container-fluid d-flex flex-column py-3" style="height: 100vh" *ngIf="!!windows.length">
  <div class="row">
    <div class="col-12">
      <p class="label">Пульт оператора</p>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <p class="label center">Выбор окна</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-5">
<!--      <mat-checkbox color="primary" [(ngModel)]="item.checked" *ngFor="let item of windows">-->
<!--        <span class="radio-label ml-4">{{item.name}}</span>-->
<!--      </mat-checkbox>-->
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="d-flex flex-column"
        [(ngModel)]="selected">
        <mat-radio-button class="my-2" color="primary" *ngFor="let option of windows" [value]="option.id">
          <span class="radio-label ml-4">{{option.name}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row h-100 px-4 d-flex flex-row justify-content-between align-items-end">
    <button routerLink="/room/list" mat-raised-button>Назад</button>
    <button (click)="submit()" [disabled]="!selected" mat-raised-button>Далее</button>
  </div>
</div>
