<div class="container-fluid" *ngIf="!!reasons">
  <div class="row">
    <div *ngFor="let item of reasons" class="col-2">
      <div class="card__rooms d-flex flex-column h-100 justify-content-center align-items-center" style="gap: 28px">
        <span>{{item?.name}}</span>
        <span>{{item?.description}}</span>
      </div>
    </div>
    <div class="col-2">
      <div routerLink="/admin/redirect/new" class="card__rooms noborder hover-pointer d-flex flex-column h-100 justify-content-center align-items-center" style="gap: 28px; min-height: 100px">
        <span>+</span>
      </div>
    </div>
  </div>
</div>
