<div class="container-fluid">
  <div class="row">
    <div class="col-12 mb-4">
      <span class="title">Количество заявок:</span>
    </div>
    <div class="col-6 d-flex justify-content-start align-items-start flex-row">
      <div class="button-switch d-flex flex-row align-items-center">
        <img class="hover-pointer" src="assets/images/arrow_left.png"/>
        <div>
          <span>1 октября - 30 октября</span>
        </div>
        <img class="hover-pointer" src="assets/images/arrow_right.png"/>
      </div>
    </div>
  </div>
</div>
