@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.none-hover, .none-hover * {
  cursor: none;
}
@font-face {
  font-family: Open-SansRegular;
  src: url(assets/fonts/OpenSans-Regular.ttf) ;
}
@font-face {
  font-family: Open-SansBold;
  src: url(assets/fonts/OpenSans-Bold.ttf) ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: HumanistBold;
  src: url(assets/fonts/Humanist_521_Bold.otf);
}
@font-face {
  font-family: HumanistRegular;
  src: url(assets/fonts/Humanist_521_Regular.otf);
}
@font-face {
  font-family: HumanistLight;
  src: url(assets/fonts/Humanist_521_Light.otf);
}
* {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #453b3b;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: #c2c2c2;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #c2c2c2;
  }
  ::-webkit-scrollbar-track:active {
    background: #c2c2c2;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
//.card-theme {
//  .card-title {
//    font-family: 'Inter', sans-serif;
//    color: #222b45;
//  }
//  border: .0625rem solid #e4e9f2;
//  border-radius: .25rem;
//  background-color: #fff;
//}
//.card-button-wrapper {
//  cursor: pointer;
//}
.snack-bar-card {
  background: black !important;
  border-radius: 0 !important;
  span {
    font-family: HumanistRegular, sans-serif !important;
    color: white !important;
  }
}
.snack-bar-white-card {
  background: white !important;
  border-radius: 0 !important;
  span {
    font-family: HumanistRegular, sans-serif !important;
    color: black !important;
  }
}
.input-theme {
  padding: .6875rem 1rem;
  border: 1px solid #e4e9f2;
  background-color: #f7f9fc;
  border-radius: .25rem;
  font-family: 'Inter', sans-serif;
}
.hover-pointer:hover {
  cursor: pointer;
}
input, button, textarea {
  outline: transparent;
}
::ng-deep {
  .mat-primary {
    .mat-button-wrapper {
      font-family: 'Inter', sans-serif !important;
    }
  }
}
.dialog-form-title {
  font-family: 'Inter', sans-serif !important;
  color: #222b45;
}
.title-dialog {
  font-family: 'Inter', sans-serif !important;
  color: #222b45;
}
button:disabled {
  background-color: #adadad !important;
}
