.card__rooms {
  border: 1px solid black;
  padding: 10px;
  span {
    text-align: center;
  }
}
.noborder {
  border: 0 !important;
}
.card__rooms span:nth-child(2) {
  font-size: 30px;
  font-family: HumanistRegular, sans-serif;
  color: black;
}
.card__rooms span:nth-child(3) {
  font-size: 24px !important;
  font-family: HumanistRegular, sans-serif;
  color: #787878;
}

p, span {
  font-family: HumanistRegular, sans-serif;
  line-height: 1em !important;
}
